.belaz {
  margin-block: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    &-image {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-l);
    }
  }

  &__description {
    padding: fluid(40, 20);
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-l);
  }
}
