.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 9px 33px;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: var(--border);
  border-radius: 15px;

  @include hover {
    color: var(--color-black);
    background-color: transparent;
  }
}
