.hero {
  height: 495px;
  text-align: center;
  color: var(--color-white);
  background-image: url('@/assets/images/bg.jpg');

  &__title {
    line-height: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    padding-block: 50px;
  }
}
