.bmz {
  margin-block: 50px;

  &__info {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;

    @include laptop {
      flex-direction: column;
    }

    &-description {
      padding: fluid(40, 20);
      color: var(--color-white);
      background-color: var(--color-accent);
      border-radius: var(--border-radius-l);
    }
  }

  &__extra {
    display: flex;
    gap: 30px;

    @media (width <= 1600px) {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      border-radius: var(--border-radius-l);

      @media (width <= 1600px) {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
      }
    }

    &-description {
      @include mobile-s {
        font-size: 13px;
      }
    }
  }
}
