.information {
  margin-block: 40px;

  &__menu {
    &-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 70px;
    }

    &-item {
      display: flex;
      gap: 15px;

      &:nth-child(2) {
        @include mobile-above {
          flex-direction: row-reverse;
        }
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;

    @include mobile {
      align-items: center;
    }
  }
}
